body {
    padding: 100;
    margin: 0;
}

.grid-item1 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: gray;
}

.grid-container {
    display:grid;
    grid-template-columns:1fr 1fr;
    float: right;
}

h1 {
    grid-column:auto;
    grid-row:auto
    z-index 1;
}